<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Arkadaşlarımın Yaşadığı Ülkeler</h4>
				<div class="row">
					<div class="col-md-5">
						<div class="table-responsive">
							<table class="table">
								<tbody>
									<tr>
										<td>
											<i class="flag-icon flag-icon-tr"></i>
										</td>
										<td>Türkiye</td>
										<td class="text-right"> 72 </td>
										<td class="text-right font-weight-medium"> 56.35% </td>
									</tr>
									<tr>
										<td>
											<i class="flag-icon flag-icon-de"></i>
										</td>
										<td>Germany</td>
										<td class="text-right"> 2 </td>
										<td class="text-right font-weight-medium"> 33.25% </td>
									</tr>
									<tr>
										<td>
											<i class="flag-icon flag-icon-at"></i>
										</td>
										<td>Austria</td>
										<td class="text-right"> 1 </td>
										<td class="text-right font-weight-medium"> 15.45% </td>
									</tr>
									<tr>
										<td>
											<i class="flag-icon flag-icon-ru"></i>
										</td>
										<td>Russia</td>
										<td class="text-right"> 1 </td>
										<td class="text-right font-weight-medium"> 25.00% </td>
									</tr>
									<tr>
										<td>
											<i class="flag-icon flag-icon-nl"></i>
										</td>
										<td>Hollanda</td>
										<td class="text-right"> 2 </td>
										<td class="text-right font-weight-medium"> 10.25% </td>
									</tr>
									<tr>
										<td>
											<i class="flag-icon flag-icon-br"></i>
										</td>
										<td>Brasil</td>
										<td class="text-right"> 230 </td>
										<td class="text-right font-weight-medium"> 75.00% </td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="col-md-7">
						<div id="audience-map" class="vector-map"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
